.footer {
  width: 100%;
  background-color:rgb(133, 133, 241);
  color: white;
  padding: 2px 0;
  margin: 6px auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 400px) {
  .footer {
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.nav-button {
  background: none;
  border: none;
  padding: 0;
}

.nav-button img {
  height: 22px;
  width: auto;
  transition: opacity 0.3s ease;
  cursor: pointer;
  padding-top: 3px;
  opacity: 0.6;
}

.footerButtonName {
  font-weight: bold;
  font-size: 12px;
  opacity: 0.6;
}

.nav-button.active img {
  opacity: 1;
}

.nav-button.active .footerButtonName {
  opacity: 1;
}

